body {
  margin: 0;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size:10px; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --app-color-primary: #191D88;
  --app-color-secondary: #FFB000;
}

@font-face {
  font-family: 'GangwonState';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Giants-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
  /*========== Colors ==========*/
  --first: #266bff;
  --second: #588DFF;
  --black: #161212;
  --black-second: #262624;
  --white: #ffffff;
  --white-second: #f9f9f9;
  --grey: #5B5757;
  --grey-light: #C1C1C1;
  --grey-lighter: #959595;
  --shadow: #a5acb1;
  --grey-background: #EBEBEB;
  --purple: #9A30AE;
  --red: #da1b1b;
  --blue-light: #6ac0ee;
  --green-mint: #10afaf;
  
  /*========== Font Weights ==========*/
  --bold: 700;
  --bold-900: 900;
  /*========== Font Size ==========*/
  --small: .813rem;
}
* {
  box-sizing:border-box;
}
input {
  all: unset;
}
body {
  font-size:var(--normal);
}
h2
{
  margin:0.5rem;
}
h3,h4,h5{
  margin: 0.2rem;
}